#about-section,
.about-top {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .greet-text {
        font-weight: $font-medium;
        margin-top: 0.25rem;

    }

    .about-heading {
        margin-top: 1.5rem;
    }

    .description-text {
        max-width: 400px;
    }

    .about-action-btns {
        gap: 2rem;
        margin-top: 1.25rem;

        .hire-me-btn {
            width: 135px;
            height: 50px;
            border-radius: 30px;
            border: none;
            background: $dark-black;
            color: $base-white;
            font-weight: $font-medium;

            &:hover,
            &:active {
                border: 1px solid $dark-black;
                border-radius: 30px;
                box-shadow: 5px 5px $dark-black;
                background: $base-white;
                color: $dark-black;
            }
        }

        .download-cv-btn {
            width: 135px;
            height: 50px;
            border: none;
            background: $base-white;
            font-weight: $font-medium;
            justify-content: center;
            align-items: center;
            display: flex;
            text-decoration: none;
            color: $dark-black;

            &:hover,
            &:active {
                border: 1px solid $dark-black;
                border-radius: 30px;
                box-shadow: 5px 5px $dark-black;
            }
        }

        .download-cv {
            height: 24px;
            width: 22px;
            margin-bottom: 5px;
            margin-left: 5px;
        }
    }
}

#about-section {
    border-bottom: 1px solid;
    color: $dark-black;
}