#navbar-head {
    position: sticky;
    top: 0;
    background: $base-white;
    box-shadow: 1px 0 2.125rem rgba(0,0,0,.13);

    .navbar-wrap {
        justify-content: space-between;
        align-items: center;
    }

    .header-left {
        justify-content: space-between;
        align-items: center;
        gap: 0.25rem;

        @include media-breakpoint-up(lg) {
            gap: 0.75rem;
        }

        a {
            text-decoration: none;
            color: $dark-black;
        }

        img {
            height: 24px;
            width: 24px;
        }

        span {
            font-size: 18px;
            font-weight: $font-small;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 0.5rem;
        }
    }

    .header-right {
        gap: 2rem;

        a {
            color: $dark-black;
            text-decoration: none;
            font-size: 18px;
            font-weight: $font-small;
            line-height: 22.25px;

            span {
                &:hover,
                &:active {
                    text-decoration: underline;
                    font-weight: $font-large;
                }
            }
        }
    }

    .header-right-mobile>img {
        height: 24px;
        width: 24px;
    }

    .modal-custom-style.modal-dialog {
        width: 90%;
        background-color: #fff;
        height: 100vh;
        overflow-y: auto;
        margin: 0;
    }
}