#navbar-head {
    position: sticky;
    top: 0;
    background: $base-white;
    box-shadow: 1px 0 2.125rem rgba(0, 0, 0, .13);

    .navbar-wrap {
        justify-content: space-between;
        align-items: center;
    }

    .header-left {
        justify-content: space-between;
        align-items: center;
        gap: 0.25rem;

        @include media-breakpoint-up(lg) {
            gap: 0.75rem;
        }

        a {
            text-decoration: none;
            color: $dark-black;
        }

        img {
            height: 24px;
            width: 24px;
        }

        span {
            font-size: 18px;
            font-weight: $font-small;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 0.5rem;
        }
    }

    .header-right {
        gap: 2rem;

        a {
            color: $dark-black;
            text-decoration: none;
            font-size: 18px;
            font-weight: $font-small;
            line-height: 22.25px;

            span {

                &:hover,
                &:active {
                    text-decoration: underline;
                    font-weight: $font-large;
                }
            }
        }
    }

    .header-right-mobile>img {
        height: 24px;
        width: 24px;
    }

    .modal-custom-style.modal-dialog {
        width: 90%;
        background-color: #fff;
        height: 100vh;
        overflow-y: auto;
        margin: 0;
    }
}

.modal-dialog {
    margin: 0 !important;
    width: 80% !important;
    height: 100% !important;

    .modal-content {
        height: 100%;
        border: none;
        border-radius: 0;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
            color: $dark-black;
            text-decoration: none;
            font-size: 18px;
            font-weight: $font-large;
            line-height: 22.25px;
        }

        .download-cv-btn {
            color: white;
            background: black;
            border-radius: 20px;
            font-size: 18px;
            line-height: 22.25px;
            padding: 0.35rem;
            font-weight: 500;
            width: 100%;
        }

        .download-cv {
            margin-left: 0.25rem;
        }
    }
}